.darkModeToggle {
    position: fixed;
    bottom: 100px;
    right: 20px;
}

.dark,
.dark main {
    background-color: #444;
    color: #f3f3f3;
}

.dark nav button{
    color: #f3f3f3;
    background-color: #444;
}

.dark nav a {
    color: #f3f3f3;
}

.dark .card {
    background-color: #d3d3d3;
    color: #333;
    box-shadow:0px 10px 25px rgba(0, 0, 0, 0.833);
}

.dark .footer {
    background-color: #f3f3f3;
}

.dark .legal a {
    color: #333;
}

.dark h1 {
    color: #f3f3f3;
}

.dark .cardPage {
    background-color: #d3d3d3;
    box-shadow:0px 10px 25px rgba(0, 0, 0, 0.833);
    color: #333;
}

.dark .cardPage a {
    background-color: #E6725A;
    color: #f3f3f3;
}

.dark .cardPage a:hover {
    background-color: #d3d3d3;
    color: #E6725A;
}

.dark .parametersForm {
    background-color: #d3d3d3
}

.dark .parametersForm,
.dark .parametersForm h1 {
    color: #333;
}