* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: red;
}

form .subjectsChoice {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

form .subjectsChoice div {
    display: flex;
    justify-content: center;
    width: 33%;
    margin: 0.3rem 0;
}

form legend {
    font-size: 1.3rem;
    font-weight: 600;
}