@font-face {
    font-family: 'UnicaOne';
    src: url('../fonts/UnicaOne/UnicaOne-Regular.ttf');
}

@font-face {
    font-family: 'Vollkorn';
    src: url('../fonts/Vollkorn/Vollkorn-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f3f3;
}

/* ############################################### */
/* ############### PAGE PARAMÈTRES ############### */
/* ############################################### */

main {
    font-family: 'Vollkorn';
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'UnicaOne';
    text-transform: uppercase;
    font-weight: 200;
}

.formContainer {
    height: calc(78vh - 32px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.parametersForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    width: 300px;
    height: 420px;
    background-color: #f3f3f3;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
}

.parametersForm .subjectsChoice {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.parametersForm .subjectsChoice div {
    display: flex;
    justify-content: center;
    width: 33%;
    margin: 0.3rem 0;
}

.parametersForm .subjectsChoice div:nth-child(4) {
    width: 38%;
    margin-left: 13%;
}

.parametersForm .subjectsChoice div:nth-child(5) {
    width: 36%;
    margin-right: 13%;
}

.parametersForm legend {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    border-bottom: 1px solid #333;
    height: 24px;
}

.parametersForm input[type="checkbox"]{
    margin: 0 0.3rem;
    accent-color: #E6725A;
}

.parametersForm input[type="radio"]{
    accent-color: #E6725A;
    padding-bottom: 1rem !important;
}

.parametersForm label {
    font-size: 0.9rem;
}

.parametersForm button {
    font-family: 'Vollkorn';
    background-color: #E6725A;
    color: #333;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 0.3rem 0.6rem;
}

.parametersForm .darkMode input:nth-child(2) {
    margin-right: 1rem;
}

.parametersForm .nbPages,
.parametersForm .darkMode {
    display: flex;
    align-items: center;
}

.parametersForm .nbPages input,
.parametersForm .darkMode input {
    margin: 0 0.5rem;
}

.parametersForm .nbPages input {
    margin-left: 1rem;
}

.error {
    color: red;
}

@media (min-width: 1144px) {
    .formContainer {
        height: calc(79vh - 32px);
    }
}

/* ############################################### */
/* ############### PAGE D'ACCUEIL ################ */
/* ############################################### */

h1 {
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
}

.container h2 {
    margin-top: 2rem;
}

h2 {
    margin: 1rem 0 0.5rem 0;
    text-transform: uppercase;
    font-family: 'UnicaOne';
    text-align: center;
}

hr {
    width: 86%;
    margin-left: 5%;
    margin-bottom: 1rem;
    border: none;
    border-top: 1px solid #B4AEAE;
}

.container {
    width: 90%;
    margin-left: 5%;
}

.category {
    display: flex;
    overflow: scroll;
    margin-left: 5%;
}

.card {
    font-family: 'Vollkorn';
    margin: 1rem 1rem;
    height: 360px;
    width: 250px;
    box-shadow:0px 7px 25px rgba(0, 0, 0, 0.356);
}

.card img {
    object-fit: cover;
    height: 150px;
    width: 250px;
}

.card .title {
    font-family: 'Vollkorn';
    font-size: 0.8rem;
    width: 90%;
    margin: 1rem 0 0.5rem 5%;
    height: 15%;
}

.card .title a {
    text-decoration: none;
    color: black;
}

.card .title a:hover {
    color: #E6725A;
}

.card .description {
    font-style: italic;
    font-family: 'Vollkorn';
    margin: 1rem 5% 0.5rem 5%;
    width: 90%;
    height: 20%;
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.date {
    font-size: 0.8rem;
    color: #616060;
    text-align:right;
    margin-right: 5%;
}

button {
    cursor: pointer;
}
@media (min-width: 1144px) {
    .container {
        display: flex;
        width: 80%;
        margin-left: 10%;
    }

    .container > div {
        width: 30%;
    }

    .category {
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow: auto;
        margin-left: 0;
    }

    h2 {
        margin-bottom: 1rem;
    }

    hr {
        display: none;
    }
}

/* ############################################### */
/* ########### PAGE AVEC UNE CATÉGORIE ########### */
/* ############################################### */

.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pageContainer h1 {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    color: black;
}

.pageContainer hr {
    margin: 0.5rem 0 1rem 10%;
    width: 80%;
}

.cardPage {
    width: 90%;
    height: 250px;
    box-shadow:0px 5px 4px rgba(0, 0, 0, 0.25);
    margin: 1rem 0 1rem 5%;
}

.cardPage img {
    width: 100%;
    height: 130px;
    object-fit: cover;
    object-position: top;
}

.cardPage .title {
    width: 90%;
    height: 53px;
    margin: 0.5rem 0 0 5%;
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
}

.cardPage .button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardPage a {
    font-family: 'Vollkorne';
    padding: 0.3rem 1rem;
    border-radius: 50px;
    color: #E6725A;
    border: #E6725A 2px solid;
    text-transform: uppercase;
    font-size: 0.6rem;
    background-color: #f3f3f3;
    text-decoration: none;
}

.cardPage .content {
    display: none;
}

.cardPage a:hover {
    background-color: #E6725A;
    color: white;
}

.title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

@media (min-width: 1144px) {
    .pageContainer h1 {
        font-size: 3rem;
    }

    .cardPage {
        display: flex;
        flex-direction: row;
        height: 250px;
        width: 80%;
        margin-left: 10%;
    }

    .cardPage .img {
        width: 45%;
    }

    .cardPage img {
        height: 100%;
        width: 100%;
    }

    .cardPage .cardBody {
        width: 55%;
    }

    .cardPage .title {
        display: flex;
        justify-content: center;
        height: 32%;
        font-size: 1.3rem;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
    }

    .cardPage a {
        background-color: #f3f3f3;
        font-size: 1rem;
        padding: 0.5rem 2.5rem;
    }

    .cardPage .content {
        display: block;
        width: 90%;
        margin-left: 5%;
        height: 35%;
    }
}

/* ############################################### */
/* ##################### 404 ##################### */
/* ############################################### */

